* *,
::before ::after {
  margin: 0%;
  padding: 0%;
  border: border-box;
}
.navbar {
  background-color: rgb(104, 9, 104);
}
img[alt='logo'] {
  width: 5rem;
}
body {
  background-image: url('https://i.postimg.cc/W3XTsP5C/laptopbg.jpg');
  background-repeat: repeat;
  height: 100vh;
}
img[alt='school'] {
  width: 100px;
}
img[alt='projects']{
    width: 200px;
    height: 200px;
}
/* landing */
img[alt='landing']{
 width: 200px ;
  height: 300px;
}

#about
{
box-shadow: 0 0 2rem 0 rgb(226, 6, 197);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(155, 61, 147, 0.5);}


     #skills{
     box-shadow: 0 0 2rem 0 rgb(226, 6, 197);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(155, 61, 147, 0.5);}



  #education{
     box-shadow: 0 0 2rem 0 rgb(226, 6, 197);
     backdrop-filter: blur(1rem);
     border: 1px solid-transparent;
     background-color: rgba(155, 61, 147, 0.5);}

     #testimonials{
      box-shadow: 0 0 2rem 0 rgb(226, 6, 197);
      backdrop-filter: blur(1rem);
      border: 1px solid-transparent;
      background-color: rgba(155, 61, 147, 0.5);}

      #contact{
        box-shadow: 0 0 2rem 0 rgb(226, 6, 197);
        backdrop-filter: blur(1rem);
        border: 1px solid-transparent;
        background-color: rgba(155, 61, 147, 0.5);}

        #projects{
          box-shadow: 0 0 2rem 0 rgb(226, 6, 197);
          backdrop-filter: blur(1rem);
          border: 1px solid-transparent;
          background-color: rgba(155, 61, 147, 0.5);}
   
 img[alt='testimonials']{
  width: 100px;
  height: 100px;
 }


     #projects{
      display: flex;
     }
.card-body{
  width: fit-content;
}



.row{
  display: flex;
}

.animate {
  font-family: 'Anton';
  background-image: linear-gradient(
    -225deg,
    #e8c5ec 0%,
    #900592 29%,
    #e941ca 67%,
    #e8c5ec 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}



.container-background {
  background-color: rgb(104, 9, 104);
}



@keyframes textclip {
  to {
    background-position: 200% center;}

  
}

